[user]
	email = korczas@gmail.com
  user = Kamil Korczynski
  username = korczas
	name = Kamil Korczynski

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = delta

[rerere]
  enabled = 1
  autoupdate = 1

[pull]
  rebase = true
  autoStash = true

[interactive]
  diffFilter = delta --color-only --features=interactive

[init]
	defaultBranch = master

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[delta]
    features = decorations
    side-by-side = true
    theme = TwoDark

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[credential "https://github.com"]
	helper =
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/local/bin/gh auth git-credential
